.App {
  text-align: center;
}

.pilt {
  height: 100px;
  /* width: 100px; */
  border-radius: 10px;
}

.pilt:hover {
  opacity: 70%;
  cursor: pointer;
}

.pilt:active {
  transform: scale(0.95);
}

.nupp {
  background-color: maroon;
  color: white;
}

.nupp:hover {
  cursor: pointer;
  background-color: brown;
}

.nupp:active {
 text-decoration: underline; 
}

.keel {
  font-weight: bold;
}

.keel:hover {
  color: blue;
}

.keel-aktiivne {
  color: green;
}

.teade {
  font-style: italic;
}

.summa-aktiivne {
  color: rgb(227, 6, 140);
  border: 2px solid rgb(227, 6, 140);

  font-size: 30px;
  border-radius: 5px;
}

.summa {
  font-size: 30px;
  border-radius: 5px;
}

.kuldne {
  color: goldenrod;
}